[Unit]
Description=pulseaudio service
After=syslog.target dbus.service alsa-restore.service adsp-loader.service

[Service]
Type=forking
ExecStart=/usr/bin/pulseaudio
Restart=always
KillSignal=SIGKILL
MemoryLimit=50M
PIDFile=/var/run/pulse/pid

[Install]
WantedBy=multi-user.target
